<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="https:unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="simple">
        <!-- <h2>{{message}}</h2> -->
        <h2 v-text="message"></h2>
        <img :src="imgPath" :width="imgWidth">
        <br>
        <input type="text" v-model="name" placeholder="입력하세요" />
    </div>
    <br>
    <hr><br>
    <div id="fruits">
        <div>과일을 골라주세요</div>
        <input type="checkbox" value="1" v-model="fruits">사과,
        <input type="checkbox" value="2" v-model="fruits">키위,
        <input type="checkbox" value="3" v-model="fruits">포도,
        <input type="checkbox" value="4" v-model="fruits">수박,
        <input type="checkbox" value="5" v-model="fruits">참외,
    </div>
    <div id="fruits_choice">
        선택된 과일들 : <span v-if="fruits.length > 0" v-html="fruits"></span>
        <span v-if="fruits.length == 0" style="color: red;">선택된 과일이 없습니다.</span>

    </div>
    <br>
    <hr><br>
    <div id="account">
        잔고 : <input type="text" v-model="balance" />
        <br /> 회원님의 등급 :
        <span v-if="balance >= 1000000">Gold</span>
        <span v-else-if="balance >= 500000">Silver</span>
        <span v-else-if="balance >= 200000">Bronze</span>
        <span v-else>Basic</span>
    </div>
    <br>
    <hr><br>
    <div id="for-contents">
        <table border=1>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>직업</th>
            </tr>
            <tr v-for="contact in contacts">
                <td> {{contact.no}}</td>
                <td> {{contact.na}}</td>
                <td> {{contact.jo}}</td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        // 모델
        var model = {
            message: 'vue js 예제',
            imgPath: "http://sample.bmaster.kro.kr/photos/61.jpg",
            imgWidth: 300,
            name: ''
        };
        var model_2 = {
            fruits: []
        };
        var listmodel = {
            contacts: [{
                "no": 1,
                "na": "지용",
                "jo": "백수"
            }, {
                "no": 2,
                "na": "지용",
                "jo": "2백수"
            }, {
                "no": 3,
                "na": "지용",
                "jo": "3백수"
            }, {
                "no": 4,
                "na": "지용",
                "jo": "4백수"
            }, {
                "no": 5,
                "na": "지용",
                "jo": "5백수"
            }, {
                "no": 6,
                "na": "지용",
                "jo": "6백수"
            }]
        };

        //뷰모델
        var simple = new Vue({
            el: '#simple',
            data: model
        });
        var fruits = new Vue({
            el: '#fruits',
            data: model_2
        });
        var fruits_choice = new Vue({
            el: '#fruits_choice',
            data: model_2
        });
        var acnt = new Vue({
            el: '#account',
            data: {
                balance: 0
            }
        });

        var list = new Vue({
            el: '#for-contents',
            data: listmodel
        })
    </script>
</body>

</html>